@tailwind base;
@tailwind components;
@tailwind utilities;

.orange-btn{
    @apply bg-button text-white h-[45px] rounded-[5px] cursor-pointer font-Jost font-medium leading-[23px]
}
.blue-btn{
    @apply bg-theme text-white h-[45px] rounded-[5px] cursor-pointer font-Jost font-medium leading-[23px]
}
.transparent-btn{
    @apply bg-transparent text-white h-[45px] rounded-[5px] cursor-pointer font-Jost font-medium leading-[23px]
}
.purple-btn{
    @apply bg-purple border-[1px] border-purple text-white p-2 px-8 rounded-lg cursor-pointer
}
.small-blue-btn{
    @apply bg-theme border-[1px] border-theme text-white p-1 px-2 cursor-pointer
}
.small-transparent-btn{
    @apply bg-transparent border-[1px] border-[#DDDDDD] text-white p-1 px-2 cursor-pointer
}
.small-transparent-btn2{
    @apply bg-transparent border-[1px] border-[#DDDDDD]  text-[#37474F] p-1 px-2 cursor-pointer
}




.blue-outline-btn{
    @apply bg-transparent border-[1px] border-theme text-themetext p-2 px-8 rounded-lg cursor-pointer

}